webservice/src/main/webapp/wsdl/BackEnd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.dev.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.dev.com" xmlns:intf="http://webservice.dev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.dev.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="save">
    <complexType>
     <sequence>
      <element name="jsonObject" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveResponse">
    <complexType>
     <sequence>
      <element name="saveReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveResponse">

      <wsdl:part element="impl:saveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveRequest">

      <wsdl:part element="impl:save" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BackEnd">

      <wsdl:operation name="save">

         <wsdl:input message="impl:saveRequest" name="saveRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveResponse" name="saveResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BackEndSoapBinding" type="impl:BackEnd">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BackEndService">

      <wsdl:port binding="impl:BackEndSoapBinding" name="BackEnd">

         <wsdlsoap:address location="http://localhost:8080/webservice/services/BackEnd"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
