webservice/src/main/webapp/wsdl/BackEnd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.dev.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.dev.com" xmlns:intf="http://webservice.dev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.dev.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="save">
    <complexType>
     <sequence>
      <element name="jsonObject" type="xsd:string"/>
      <element name="objectType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveResponse">
    <complexType>
     <sequence>
      <element name="saveReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listCurrentRecords">
    <complexType>
     <sequence>
      <element name="objectType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="listCurrentRecordsResponse">
    <complexType>
     <sequence>
      <element name="listCurrentRecordsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteRecordByCode">
    <complexType>
     <sequence>
      <element name="code" type="xsd:string"/>
      <element name="objectType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteRecordByCodeResponse">
    <complexType>
     <sequence>
      <element name="deleteRecordByCodeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="readRecordByCode">
    <complexType>
     <sequence>
      <element name="code" type="xsd:string"/>
      <element name="objectType" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="readRecordByCodeResponse">
    <complexType>
     <sequence>
      <element name="readRecordByCodeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteRecordByCodeResponse">

      <wsdl:part element="impl:deleteRecordByCodeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCurrentRecordsResponse">

      <wsdl:part element="impl:listCurrentRecordsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveResponse">

      <wsdl:part element="impl:saveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readRecordByCodeResponse">

      <wsdl:part element="impl:readRecordByCodeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readRecordByCodeRequest">

      <wsdl:part element="impl:readRecordByCode" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveRequest">

      <wsdl:part element="impl:save" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRecordByCodeRequest">

      <wsdl:part element="impl:deleteRecordByCode" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCurrentRecordsRequest">

      <wsdl:part element="impl:listCurrentRecords" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BackEnd">

      <wsdl:operation name="save">

         <wsdl:input message="impl:saveRequest" name="saveRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveResponse" name="saveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCurrentRecords">

         <wsdl:input message="impl:listCurrentRecordsRequest" name="listCurrentRecordsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listCurrentRecordsResponse" name="listCurrentRecordsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteRecordByCode">

         <wsdl:input message="impl:deleteRecordByCodeRequest" name="deleteRecordByCodeRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteRecordByCodeResponse" name="deleteRecordByCodeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readRecordByCode">

         <wsdl:input message="impl:readRecordByCodeRequest" name="readRecordByCodeRequest">

       </wsdl:input>

         <wsdl:output message="impl:readRecordByCodeResponse" name="readRecordByCodeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BackEndSoapBinding" type="impl:BackEnd">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="save">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCurrentRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCurrentRecordsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listCurrentRecordsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteRecordByCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRecordByCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteRecordByCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readRecordByCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readRecordByCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readRecordByCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BackEndService">

      <wsdl:port binding="impl:BackEndSoapBinding" name="BackEnd">

         <wsdlsoap:address location="http://localhost:8080/webservice/services/BackEnd"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
